body {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, blockquote, cite {
    margin: 0;
}

button {
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

em, i {
    font-style: normal;
}

%displayNone {
    display: none;
}

%unset {
    padding: 0;
    margin: 0;
    text-transform: initial;
    font-weight: initial;
    color: initial;
    background-color: initial;
}